* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#searchBtn:hover {
	opacity: 80%;
}

#searchBar:hover {
	opacity: 60%;
}

#searchHistory {
	background-color: rgb(173, 188, 202);
}

#border {
	border: 1px solid black;
}

#uvindex {
	background-color: rgb(11, 192, 11);
	padding: 0 5px 1px 5px;
}

.container-fluid {
	margin-left: 15px;
	margin-right: 15px;
}
